.questionText{
  margin-bottom: 2rem;
}

.optionButton{
  display: block;
  width: 20rem;
  margin: 1rem auto;
  height: 5rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  border: 2px solid brown;
  background-color: white;
}