.questionText{
  margin-bottom: 3rem;
}

.optionButton{
  display: block;
  width: 20rem;
  margin: 1rem auto;
  height: 8rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  border: 4px solid skyblue;
  background-color: white;
}