.categoryButton{
  width: 9.5rem;
  height: 2rem;
  margin: 1rem;
  border: 1px solid brown;
  border-radius: 1rem;
  background-color: white;
  color: brown;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.categoryButton:hover{
  background-color: brown;
  color: white;
}